/* FooterFix.css */

.footer-container {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important; /* Adjust height as needed */
    color: rgb(179, 164, 164); 
    text-align: center;
    margin: 0;
  }
  
  body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
  }
  
  .container {
    flex: 1 !important;
  }
  
  /* Ensure the footer is positioned correctly on mobile devices */
  @media (max-width: 767px) {
    .footer-container {
      position: relative !important;
      bottom: 0 !important;
      width: 100% !important;
      padding: 10px !important;
      height: auto !important; /* Allow the height to adjust based on content */
    }
  
    body {
      padding-bottom: 60px !important; /* Adjust based on the height of your footer */
    }
  
    .home-background {
      margin-bottom: 60px !important; /* Ensure content doesn't overlap with the footer */
    }
  }
  